<div id="contact-component">
    <div class="width-100">
        <div id="contact-form" class="container contact-wrapper">
            <form class="width-100">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" 
                    placeholder="Name" autocomplete="off"
                    class="mar-b0"> 
                <p id="name-error" >Enter a valid name</p>
                <label for="email">Email</label>
                <input type="text" id="email" 
                    name="email" placeholder="Email" autocomplete="off"
                    class="mar-b0">
                <p id="email-error" >Enter a valid email</p>
                <label for="subject">Subject</label>
                <select id="subject" name="subject">
                    <option value="general">General</option>
                    <option value="business">Business</option>
                </select>
                <label for="description">Description</label>
                <textarea id="description" 
                    name="description" placeholder="Message" 
                    class="mar-b0"></textarea>
                <p id="description-error">Enter a valid description</p>
            </form>
        </div>
    </div>
</div>
