<div id="education-component">
    <div class="width-100">
        <div class="overview-content">
            <table rv-each-item="education" id="education-table">
                <tr>
                    <td class="experience-table-cell table-header">University</td>
                    <td rv-text="item.university" class="table-header"></td>
                </tr>
                <tr>
                    <td class="experience-table-cell">College</td>
                    <td rv-text="item.college"></td>
                </tr>
                <tr>
                    <td class="experience-table-cell">Qualification</td>
                    <td rv-text="item.qualification"></td>
                </tr>
                <tr>
                    <td class="experience-table-cell">Specialization</td>
                    <td rv-text="item.specialization"></td>
                </tr>
                <tr>
                    <td class="experience-table-cell">Year</td>
                    <td rv-text="item.year"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
