<div id="experience-component">
    <div class="width-100">
        <div class="experience-wrapper">
            <table rv-each-item="experience" id="experience-table">
                <tr>
                    <td class="table-header">Company</td>
                    <td class="table-header" rv-text="item.company"></td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td rv-text="item.customer"></td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td rv-text="item.role"></td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td rv-text="item.duration"></td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td rv-text="item.project"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td rv-text="item.description"></td>
                </tr>
                <tr>
                    <td>Responsibilities</td>
                    <td>
                        <ul>
                            <li rv-each-responsibility="item.responsibilities">
                                <div rv-text="responsibility"></div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Environment</td>
                    <td rv-text="item.environment"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
