<div id="spin" class="flex-container hide">
    <span class="loader"></span>
</div>
<div id="product_wrapper_data" style="height:auto;min-height:85vh;">
    <div id="ham">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
    </div>
    <div class="visible hidden nav_items_wrapper">
        <i class="material-icons icon_close font-35 f_right">close</i>
        <a rv-each-item="navItems" href="javascript:void(0)" rv-click="selectNavItems()" class="link header_links">{item}</a></br>
    </div>
    <div class="visible hidden1 nav_items_wrapper_mob">
        <a class="link nav_sub_item" href="">Kitchen and Dining</a></br>
        <a class="link nav_sub_item" href="">Kitchen Storage and Containers</a></br>
    </div>
    <header class="header_wrapper">
        <div class="nav_wrapper">
            <div id="logo" class="nav_logo">Black Kart</div>
            <div id="menu_items" class="nav_menu">
                <a rv-each-item="navItems" class="link selectNavItems nav_items" href="javascript:void(0)">{item}</a>
            </div>
            <div class="account_user">
                <i class="material-icons account_circle font-35">account_circle</i>
                <div id="account_options" class="account_user_options">
                    <span class="account_user_border">Account</span></br>
                    <span>Logout</span>
                </div>
            </div>
        </div>
    </header>
    <div class="sub_nav">
        <div id="sub_items" class="sub_items">
            <a rv-each-item="subItems" class="sub_item">{item}</a>
            <i id="filter" class="material-icons filter_icon">filter_list</i>
            <img id="checkout" class="checkout_icon" src="./assets/cart.svg"></img>
        </div>
        <div id="sub_items_mob" class="sub_nav_items">
            <span>Selected - </span>
            <a class="sub_nav_mob" id="sub_mob">Categories</a>
            <i class="material-icons font-35">filter_list</i>
        </div>
    </div>
    <div id="checkout_wrapper" class="purchase_alert checkout-section"></div>
    <div class="content_wrapper">
        <div id="filter_wrapper" class="filter_display">
            <div class="mar-l10">
                <h4 >Brands</h4>
                <div class="brandSelector mar-t10" rv-each-brand="brand">
                    <input type="checkbox" data-filterType="brand" rv-name="brand.brand" class="filterProducts" rv-value="brand.brand"/> {brand.brand}
                </div>
            </div>
            <div class="mar-l10">
                <h4 >Price</h4>
                <div class="mar-t10" >
                    <div class="priceRange" data-range="0" data-filterType="priceRange">Under 500</div>
                    <div class="priceRange mar-t10" data-range="500" data-filterType="priceRange" >500 - 1000</div>
                    <div class="priceRange mar-t10" data-range="1000" data-filterType="priceRange" >1000 - 1500</div>
                    <div class="priceRange mar-t10" data-range="1500" data-filterType="priceRange" >1500 - 2000</div>
                    <div class="priceRange mar-t10" data-range="2000" data-filterType="priceRange" >over 2000</div>
                </div>
            </div>
            <div class="mar-l10">
                <h4 >Discount</h4>
                <div class="mar-t10" >
                    <div class="discountRange" data-range="10" data-filterType="discountRange" >10% off or more</div>
                    <div class="discountRange mar-t10" data-range="20" data-filterType="discountRange">20% off or more</div>
                    <div class="discountRange mar-t10" data-range="30" data-filterType="discountRange">30% off or more</div>
                    <div class="discountRange mar-t10" data-range="40" data-filterType="discountRange">40% off or more</div>
                    <div class="discountRange mar-t10" data-range="50" data-filterType="discountRange">50% off or more</div>
                </div>
            </div>
            <div class="mar-l10">
                <h4 >Seller</h4>
                <div class="sellerSelector mar-t10" rv-each-seller="seller">
                    <input type="checkbox" data-filterType="seller" rv-name="seller.seller" class="filterProducts" rv-value="seller.seller"/> {seller.seller}
                </div>
            </div>
            <div class="mar-l10">
                <h4>Item Condition</h4>
                <div rv-each-type="type" class="typeSelector mar-t10">
                    <input type="checkbox" data-filterType="type" rv-data-type="type.value" rv-value="type.value" class="filterProducts" rv-name="type.name" /> {type.name}
                </div>
            </div>
        </div>
        <div id="items_wrapper" class="product_item_display">
            <div rv-each-item="filteredProducts" class="product_filter">
                <div class="purchase_alert product_item">
                    <img class="image_wrapper width_100percent" src="./assets/kadai.jpg"/>
                </div>
                <div class="pad-10">
                    <h4 rv-text="item.name" class="link_cursor"></h4>
                    <div class="mar-t-15">
                        <i rv-each-a="item.reviews" class="material-icons icons_star">star</i>
                        <i rv-each-a="item.reviews" class="material-icons icons_star_blank">star_border</i>
                    </div>
                    <span class="v-top">&#36;</span>
                    <h4 class="item_price" rv-text="item.price"></h4>
                    <p class="item_offer">(<span>{item.offer}</span>% off)</p>
                    <del class="font-15" >{item.discountedPrice}</del>
                    <p>
                        <span class="product_coupon">Save 750</span>
                        <span class="font-15">with coupon</span>
                    </p>
                    <p class="font-15">FREE delivery by Wed, 17 Aug, 7:00 am - 3:00 pm</p>
                </div>
            </div>
        </div>
        <div id="links_holder" class="sticky side-nav">
            <div class="link"><a>Account</a></div>
            <div class="link"><a >Orders</a></div>
            <div class="checkout">
                <button class="button button_primary width_150">Checkout</button>
                <p>Delivery Monday</p>
                <h3>In stock</h3>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div id="scroll_top" class="footer-scroll">Back to top</div>
</footer>
