<div id="spin" class="flex-container hide">
    <span class="loader"></span>
</div>
<div id="product_wrapper_data" style="height:auto;min-height:85vh;">
    <div id="ham">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
    </div>
    <div class="visible hidden nav_items_wrapper">
        <i class="material-icons icon_close font-35 f_right">close</i>
        <a rv-each-item="navItems" href="javascript:void(0)" rv-click="selectNavItems()" class="link header_links">{item}</a></br>
    </div>
    <div class="visible hidden1 nav_items_wrapper_mob">
        <a class="link nav_sub_item" href="">Kitchen and Dining</a></br>
        <a class="link nav_sub_item" href="">Kitchen Storage and Containers</a></br>
    </div>
    <header class="header_wrapper">
        <div class="nav_wrapper">
            <div id="logo" class="nav_logo">Black Kart</div>
            <div id="menu_items" class="nav_menu">
                <a rv-each-item="navItems" class="link selectNavItems nav_items" href="javascript:void(0)">{item}</a>
            </div>
            <div class="account_user">
                <i class="material-icons account_circle font-35">account_circle</i>
                <div id="account_options" class="account_user_options">
                    <span class="account_user_border">Account</span></br>
                    <span>Logout</span>
                </div>
            </div>
        </div>
    </header>
    <div class="sub_nav">
        <div id="sub_items" class="sub_items">
            <a rv-each-item="subItems" class="sub_item">{item}</a>
            <i id="filter" class="material-icons filter_icon">filter_list</i>
            <img id="checkout" class="checkout_icon" src="./assets/cart.svg"></img>
        </div>
        <div id="sub_items_mob" class="sub_nav_items">
            <span>Selected - </span>
            <a class="sub_nav_mob" id="sub_mob">Categories</a>
            <i class="material-icons font-35">filter_list</i>
        </div>
    </div>
    <div id="checkout_wrapper" class="order_section"></div>
    <div class="content_section">
        <div id="items_wrapper" class="item_section">
            <div class="width_50percent">
                <button class="tablink" data-range="Current" id="defaultOpen">Current Order</button>
                <button class="tablink" data-range="Cancelled">Cancelled Order</button>
                <button class="tablink" data-range="Completed">Completed Order</button>
            </div>
            <div id="Current" class="tabcontent">
                <div rv-each-item="a.current">
                    <h3 >Name : <span rv-text="item.name"></span></h3>
                    <div>
                        <p>Order Id : <span rv-text="item.orderid"></span></p>
                        <p>Price : <span rv-text="item.price"></span></p>
                    </div>
                </div>
            </div>
            <div id="Cancelled" class="tabcontent">
                <div rv-each-item="a.cancelled">
                    <h3 >Name : <span rv-text="item.name"></span></h3>
                    <div>
                        <p>Order Id : <span rv-text="item.orderid"></span></p>
                        <p>Price : <span rv-text="item.price"></span></p>
                    </div>
                </div>
            </div>
            <div id="Completed" class="tabcontent">
                <div rv-each-item="a.completed">
                    <h3 >Name : <span rv-text="item.name"></span></h3>
                    <div>
                        <p>Order Id : <span rv-text="item.orderid"></span></p>
                        <p>Price : <span rv-text="item.price"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div id="scroll_top" class="footer-scroll">Back to top</div>
</footer>
