<div id="spin" class="flex-container hide">
    <span class="loader"></span>
</div>
<div id="parent-component" class="font-15 parent-wrapper" >
    <header>
        <div class="header-wrapper">
            <div class="header-text">KUMARAN</div>
        </div>
    </header>
    <nav>
        <div class="nav-wrapper">
            <div id="overview" class="nav-content" style="background-color: white;color: black;">
                Overview
            </div>
            <div id="experience" class="nav-content">
                Experience
            </div>
            <div id="skills" class="nav-content">
                Skills
            </div>
            <div id="education" class="nav-content">
                Education
            </div>
            <div id="contact" class="nav-content">
                Contact
            </div>
        </div>
    </nav>
    <div id="main-content"></div>
</div>
<div class="footer-wrapper">
    <footer class="footer-content">
    <button id="back" class="btn-secondary">Back</button>
    <button id="submit" class="btn-primary">Next</button>    
</footer>
</div>
