<div id="skill-component">
    <div class="width-100">
        <div class="overview-content">
            <table id="skill-table">
                <tr>
                  <td>Domain</td>
                  <td rv-text="skills.Domain"></td>
                </tr>
                <tr>
                  <td>IDE</td>
                  <td rv-text="skills.IDE"></td>
                </tr>
                <tr>
                  <td>Technologies</td>
                  <td rv-text="skills.Technologies"></td>
                </tr>
                <tr>
                  <td>Servers</td>
                  <td rv-text="skills.Servers"></td>
                </tr>
                <tr>
                  <td>Version</td>
                  <td rv-text="skills.Version"></td>
                </tr>
                <tr>
                  <td>Testing</td>
                  <td rv-text="skills.Testing"></td>
                </tr>
                <tr>
                    <td>Quality</td>
                    <td rv-text="skills.Quality"></td>
                  </tr>
              </table>
        </div>
    </div>
</div>
