@media only screen and (max-width: 600px) {
  #parent-component {
    width: 100%;
  }
  .footer-wrapper{
    width: 100% !important;
  }
  .overview-wrapper{
    justify-content: unset !important;
  }
  .overview-content-wrapper{
    width: 60% !important;
  }
  .overview-image-wrapper{
    width: 40% !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #parent-component {
    width: 100%;
  }
  .footer-wrapper{
    width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {

}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none !important;
}

.font-15 {
  font-size: 15px !important;
}

#skill-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#skill-table td, #skill-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#education-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#education-table td, #education-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#education-table{
  margin-bottom: 30px;
  width: 100%;
}

#experience-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#experience-table{
  margin-bottom: 30px;
  width: 100%;
}

.experience-table-cell{
  white-space: nowrap;
  width: 1%;
}

#experience-table td, #experience-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#contact-form.container {
  border-radius: 5px;
  padding: 20px;
}

.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: grey;
  opacity: 0.5;
}

.flex-container > span {
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.parent-wrapper {
  width: 60%; margin: auto;
}

.header-wrapper{
  display: flex; 
  align-items: center; 
  background-color: #00965e; 
  height: 100px; 
  color: white; 
  font-weight: bold; 
  font-size: large;
}

.header-text {
  margin-left: 50px; 
  font-size: 25px;
}

.nav-wrapper{
  align-items: center; 
  height: 50px; 
  display: flex; 
  justify-content: space-around; 
  background-color: #00965e; 
  border: 1px solid white
}

.nav-wrapper .nav-content{
  background-color: #00965e; 
  color: white;
  height: 100%;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 100%; 
  display: flex; 
  justify-content: center;
  cursor: pointer;
}

.footer-wrapper{
  width: 60%; 
  margin: auto;
}

.footer-content {
  background-color: #f6f6f6;
  height: 65px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}

.btn-secondary{
  margin-left: 20px;
  height:40px;
  color: #00965e; 
  background-color: white;
  border: 1px solid #00965e;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;    
  vertical-align: middle;
  cursor: pointer;
}

.btn-primary{
  margin-right: 20px;
  height:40px;
  color: white; 
  background-color: #00965e;
  border: 1px solid #00965e;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;    
  vertical-align: middle;
  cursor: pointer;
}

.overview-wrapper{
  background-color: white; 
  display: flex; 
  justify-content: space-between; 
  flex-direction: row;
}

.overview-content{
  margin-top: 20px; 
  padding: 30px;
}

.width-70{
  width: 70%;
}

.width-30{
  width: 30%;
}

.width-100{
  width: 100%;
}

.experience-wrapper{
  margin-top: 20px; 
  padding: 30px;
}

.contact-wrapper{
  margin-top: 20px; 
  padding: 30px;
  width: 60%
}

.mar-b0{
  margin-bottom: 0px;
}

#name-error{
  margin-top: 5px; 
  color: red;
  display: none;
}

#email-error{
  margin-top: 5px; 
  color: red;
  display: none;
}

#description-error{
  margin-top: 5px; 
  color: red;
  display: none;
}

.table-header{
  font-size: 15px;
  font-weight: bold;
}