<div id="filter_wrapper" class="filter_display" style="display: block;">
    <div class="mar-l10">
        <h4 >Brands</h4>
        <div class="brandSelector mar-t10" >
            <input type="checkbox" data-filterType="brand" class="filterProducts"/> Pressure
        </div>
    </div>
    <div class="mar-l10">
        <h4 >Price</h4>
        <div class="mar-t10" >
            <div class="priceRange" data-range="0" data-filterType="priceRange">Under 500</div>
            <div class="priceRange mar-t10" data-range="500" data-filterType="priceRange" >500 - 1000</div>
            <div class="priceRange mar-t10" data-range="1000" data-filterType="priceRange" >1000 - 1500</div>
            <div class="priceRange mar-t10" data-range="1500" data-filterType="priceRange" >1500 - 2000</div>
            <div class="priceRange mar-t10" data-range="2000" data-filterType="priceRange" >over 2000</div>
        </div>
    </div>
    <div class="mar-l10">
        <h4 >Discount</h4>
        <div class="mar-t10" >
            <div class="discountRange" data-range="10" data-filterType="discountRange" >10% off or more</div>
            <div class="discountRange mar-t10" data-range="20" data-filterType="discountRange">20% off or more</div>
            <div class="discountRange mar-t10" data-range="30" data-filterType="discountRange">30% off or more</div>
            <div class="discountRange mar-t10" data-range="40" data-filterType="discountRange">40% off or more</div>
            <div class="discountRange mar-t10" data-range="50" data-filterType="discountRange">50% off or more</div>
        </div>
    </div>
    <div class="mar-l10">
        <h4 >Seller</h4>
        <div class="sellerSelector mar-t10" >
            <input type="checkbox" data-filterType="seller" class="filterProducts" /> Pressure
        </div>
    </div>
    <div class="mar-l10">
        <h4>Item Condition</h4>
        <div class="typeSelector mar-t10">
            <input type="checkbox" data-filterType="type" class="filterProducts" /> Pressure
        </div>
    </div>
</div>
<div id="items_wrapper" class="product_item_display">
    <div class="product_filter">
        <div class="purchase_alert product_item">
            <img class="image_wrapper width_100percent" src="./assets/kadai.jpg"/>
        </div>
        <div class="pad-10">
            <h4 class="link_cursor">Pressure cooker</h4>
            <div class="mar-t-15">
                <i class="material-icons icons_star">star</i>
                <i class="material-icons icons_star_blank">star_border</i>
            </div>
            <span class="v-top">&#36;</span>
            <h4 class="item_price" >2000</h4>
            <p class="item_offer">(<span>20</span>% off)</p>
            <del class="font-15" >1500</del>
            <p>
                <span class="product_coupon">Save 750</span>
                <span class="font-15">with coupon</span>
            </p>
            <p class="font-15">FREE delivery by Wed, 17 Aug, 7:00 am - 3:00 pm</p>
        </div>
    </div>
</div>