<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Address</h2>
        </div>
        <div class="modal-body pad-0">
            <form class="max-width_100percent">
                <div class="row">
                    <div class="col-25">
                        <label for="street">Street / Flat</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="street" name="street" placeholder="Street / Flat">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="area">Area / locality</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="area" name="area" placeholder="Area / Locality">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="country">Country</label>
                    </div>
                    <div class="col-75">
                        <select id="country" name="country">
                            <option value="USA">USA</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" class="changeAddress button button_primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
<div id="items_wrapper" class="items_section">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Summary</a></li>
    </ul>
    <h3>Please verify your order</h3>
    <p>Delivery address :
        <span rv-text="address.area">XXXX</span>,
        <span rv-text="address.street">YYYY</span>,
        <span rv-text="address.country">ZZZZ</span>
    </p>
    <div>
        <i class="material-icons font-20">location_on</i>
        <a href="javascript:void(0)" id="myBtn" class="change_address">change</a>
    </div>
    <div class="mar-t30 width_100percent" rv-each-orders="orders.items">
        <div class="width_20percent display-inline-block">
            <img class="image_wrapper width_100percent" src="./assets/kadai.jpg"/>
        </div>
        <div class="product-details-wrapper">
            <h3 class="pad-l20 mar-t0">Pressure cooker</h3>
            <p class="pad-l20">Pressure</p>
            <p class="item-caption">FREE delivery by Wed, 17 Aug, 7:00 am - 3:00 pm</p>
            <div class="quantity-counter pad-l20" >
                <button id="counter-increment" class="increment pad-10">+</button>
                <input id="counter-value" class="value counter-field" type="number" value="1">
                <button id="counter-decrement" class="decrement pad-10">-</button>
            </div>
        </div>
        <div class="product-details-price">
            <h3 class="mar-t0">3000</h3>
        </div>
    </div>
    <h4>Optional :</h4>
    <input type="checkbox"/> Add gift pack
    <p><span class="font_weight_bold">Gift pack:</span> <span>This is gift disclaimer</span></p>
    <div class="width_100percent">
        <h4 class="total-price">Total price : </h4>
        <h4 class="total-price-value">3000</h4>
    </div>
    <hr />
    <p >This is address disclaimer</p>
    <p >This is delivery time disclaimer</p>
    <button class="button button_secondary width_20percent f_left">Back</button>
    <button class="button button_primary width_20percent f_right">Place order</button>
</div>

<script>
    $("#myBtn").click(function(){
        $("#myModal").show();
    });
    $(".close").click(function(){
        $("#myModal").hide();
    });
</script>